body, html
{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    color: rgb(240, 240, 240);
    align-items: center;
}
p{
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);

}
 
.top {
    width: 100%;
    height:15%;
    background: rgb(201, 17, 218);
    margin: 0px;
}

.top-item{
    margin: 3px;
    display: inline-block;
    align-items: center;
    height: auto;
    width: auto;
    box-shadow: black;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: 2px solid rgb(232, 144, 239);
    box-shadow: 5px 10px 61px -16px #7c7979;
    border-radius: 10px;
}
.box
{
    left: 20%;
    position:relative;
    text-align: center;
    width: 800px;
    height: 650px;
    background: rgb(221, 108, 231);
}

.finder{
    width: 70%;
    height: 70px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 8px 16px;
    margin: 20px auto;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075);
    transition: background-color 0.1s linear;
    background-color: rgb(251, 234, 226);
    border: 2px solid rgb(232, 144, 239);
    border-radius: 10px;
    box-shadow: 5px 10px 61px -16px #7c7979;

}

.btn-for-game{
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #000000;
    display:block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 8px 16px;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: background-color 0.1s linear;
    background-color: rgb( 43, 153, 91 );
    border: 1px solid rgb( 33, 126, 74 );
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.big{
    width: 200px;
}

.middle{
    width: 150px;
}

.small{
    width: 100px;
}
.again {
    margin-top: 100px;
}
.parent{
    left: 0;
    transition: left 5s cubic-bezier(0, 0, 1, 1);
    animation: 2s ease forwards;
}

.btn-for-game:hover {
    background-color: rgb(133, 182, 170);
}

.col-div{
    margin: 0px;
    height: 80px;
}

.row-div{
    padding: 10px;
    display: inline-block;
}

#clicker{
    position:absolute;
    top:550px;
    left:0;
    width:100%;
    height:200px;
}
#continue{
    top:0px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    font-size: 26px;
}
#pic{
    background-image: url("images/st.png");
    background-repeat: no-repeat;
    height: 500px;
}

/* Анимации */
@keyframes fade {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes show {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes textpulse {
    from {
        font-size: 22px;
    }
    25% {
        font-size: 17px;
    }
    50% {
        font-size: 22px;
    }
    75% {
        font-size: 24px;
    }
    to {
        font-size: 22px;
    }
}

@keyframes bord_radius {
    from {
        border-radius: 4px;
    }
    50% {
        border-radius:80%;
    }
    to {
        border-radius: 4px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(15deg);
    }
    60% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-15deg);
    }
}
